@charset "iso-8859-9";
      #manset {cursor:default; width:470px; height:270px; border:solid 1px #ccc; background-color:#eee; padding:5px;margin:0 0 5px 0;display:none;}
      #manset div{ width:470px; height:245px;}
      .sayfa{float:left;padding:2px 0;margin:0 2px 0 0;color:#369;cursor:default;font-family:calibri;font-size:11pt;border:solid 1px #369; width:20px; text-align:center;}
      .manset_f{float:left;border:0;}
      .manset_h{
	float: left;
	background-color: #dcdcdc;
	width: 450px;
	margin: 0 0 5px 0;
	height: 20px;
	font-size: 11pt;
	color: #bb4646;
	font-weight: bold;
	padding: 0 10px;
	font-size: 12px;
	line-height: 20px;
}
      #manset a{text-decoration:none; cursor:default;}
	  
        

	  
	  /* CSS Document */
